<!-- <div class="cart">
    <div *ngFor="let item of cartItems" class="card">
      <img class="card-img-top" [src]="item.imageUrl" alt="Product Image">
      <div class="card-body">
        <h5 class="card-title">{{ item.name }}</h5>
        <p class="card-text">{{ item.description }}</p>
        <p class="card-text">Price: ${{ item.price }}</p>
      </div>
    </div>
    

  <div class="cart">
    <h2>Cart</h2>
    <ul>
      <li *ngFor="let item of cartItems">
        {{ item.name }} - ${{ item.price }} - Quantity: {{ item.quantity }}
        <button (click)="increaseQuantity(item)">+</button>
        <button (click)="decreaseQuantity(item)">-</button>
      </li>
    </ul>
    <p>Total Items: {{ totalItems }}</p>
    <p>Total Price: ${{ totalPrice }}</p>
  </div>

   -->

   <div class="cart">
    <div *ngFor="let item of cartItems" class="card">
      <img class="card-img-top" [src]="item.imageUrl" alt="Product Image">
      <div class="card-body">
        <h5 class="card-title">{{ item.name }}</h5>
        <p class="card-text">{{ item.description }}</p>
        <p class="card-text">Price: ${{ item.price }}</p>
        <p class="card-text">Quantity: {{ item.quantity }}</p>
        <button (click)="increaseQuantity(item)" class="btn btn-primary">+</button>
        <button (click)="decreaseQuantity(item)" class="btn btn-primary">-</button>
      </div>
    </div>
    <p>Total Items: {{ totalItems }}</p>
    <p>Total Price: ₹{{ totalPrice | usdToInr | number:'1.2-2' }}</p>
  </div>
  